<div class="container-fluid">
  <div class="row row-cols-3">
    <div class="col">
      <div class="film">
        <img src="../../assets/harry-potter.jpeg" alt="...">
        
      </div>
      
    </div>
    <div class="col">
      <div class="film">
        <img src="../../assets/avengers.jpeg" alt="..." >
      </div>
    </div>
    <div class="col">
      <div class="film">
        <img src="../../assets/mission-impossible.jpeg" alt="...">
      </div>
    </div>

  
    <div class="col">
      <div class="film">
        <img src="../../assets/star-wars.jpeg" alt="...">
      </div>
    </div>
  </div>  
 
</div>
