
.container-fluid{
    padding-top: 2rem;
    background: linear-gradient(135deg, #005f30, rgb(0, 33, 65));
    width: 100%;
    background-attachment: fixed;
}

.r{
    padding: 1rem 0;
}

.nav-container{
    position: fixed;
    top:0;
    width: 100%;
}
.wrapper{
    position: absolute;
    top:0;
}