
.container-fluid{
  
    background: linear-gradient(0deg, rgba(1, 20, 44, 1) 0%, rgba(1, 20, 44, 1) 35%, rgba(2, 46, 100, 0.9) 100%);
    width: 100%;
    background-attachment: fixed;
}

.r{
    padding: 1rem 0;
}