
.film{
    width: 80%;
    height: 100%;
    padding: 2rem;
    border-radius:0.3rem ;
    
}
.film:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

    

.film-img{
    position: relative;
    height: 18rem;
    left: 50%;
    transform: translateX(-50%);
}
.film-title{
    color: rgb(240, 240, 240);
    text-shadow: 0 0 0.5rem rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
    text-transform: capitalize;
}

.film-description{
    color: rgb(240, 240, 240);
    font-size: 0.7rem;
    font-weight:400;
    padding: 0.2rem 0;
    text-align: justify;
    
}

