.container-fluid{
    padding: 2rem;
    background: linear-gradient(135deg, #005f30, rgb(0, 33, 65));
    width: 100%;
    background-attachment: fixed;
    height: 100vh;
}
.card{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1rem 3rem;
    background-color: rgba(240, 240, 240, 0.267);
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem rgb(0, 0, 0);
    backdrop-filter: blur(0.5rem);
}
.pad{
    padding: 1rem;
}

label {
    font-size: 1rem;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
}

input {
    /* Add your input styles here */
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
    color: #333;
    width: 100%;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
    
button[type="submit"] {
    background:#005f30;
    color: #fff;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color:#005f30bb;
}

button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.title{
    color: rgb(240, 240, 240);
    text-shadow: 0 0 0.5rem rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
    text-transform: capitalize;
}